.thumbnail img{
    width:100%;
}
.thumbnail{
    padding:0px;
}
.caption-full{
    padding:9px;
}

.container{
    width:750px;
}

.rwd-form{
    width:40%;
    margin:auto;
}

.signup{
    text-align: center;
}

.buttons{
    display: flex;
}

.btn-danger{
    margin-left: 10px;
}

